.sortable {
    border: black 1px solid;
    padding: 15px;
}
.red {
    background-color: rgba(255,0,0,0.2) ;
    font-weight: bold;
}

.green {
    background-color: rgba(0,255,0,0.2);
    font-weight: bold;
}

.yellow {
    background-color: rgba(255,225,0,0.2);
    font-weight: bold;
}

.red-border {
    border: 2px dashed rgba(255,0,0,0.2);
}

.green-border {
    border: 2px dashed rgba(0,255,0,0.2);
}

.over-hit {
    background-color: rgba(0,255,0,0.2) !important;
}

.under-hit {
    background-color: rgba(255,0,0,0.2)!important;
}

.table {
    font-size: 12px;
}

.table > tbody > tr > td {
    padding: 4px;
}

tr:hover  {
    background-color: rgba(0,0,0,.2) !important;
}

tr.normal:hover:nth-of-type(odd) {
    background-color: rgba(0,0,0,.25)
}

td:after {
    content:"";
    display:block;
}